{{> head contact.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	<div id='contact'>
		<div>
			<p>{{ contact.content.name }}</p>
			<p>{{ contact.content.address }}</p>
			<p>
				<a href='tel:{{ contact.content.telephone }}'>{{ contact.content.telephone }}</a>
			</p>
			<p>
				<a href='mailto:{{ contact.content.email }}'>{{ contact.content.email }}</a>
			</p>
		</div>
	</div>
	{{> footer }}
</div>

{{> foot contact.foot }}
