{{> head contact.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div id='contact'>
		<div>{{{ contact.content.about }}}</div>
		<p>{{{ contact.content.address }}}</p>
		<p>
			<a href='tel:{{ contact.content.telephone }}'>{{ contact.content.telephone }}</a>
		</p>
		<p>
			<a href='mailto:{{ contact.content.email }}'>{{ contact.content.email }}</a>
		</p>
	</div>
	{{> footer }}
</div>

{{> foot contact.foot }}
