<div id='details'>

	<ul class='clearfix hide'>
	{{#each gallery }}
	<li>
		<img src="{{ this }}"/>
	</li>
	{{/each}}
	</ul>

	<header>
		<h2>{{ name }}</h2>
	</header>
	
	<div class='information'>

		{{#if client }}
		{{#if client_url }}
		<p>Client: <a href="{{ client_url }}" target="_blank">{{ client }}</a></p>
		{{else}}
		<p>Client: {{ client }}</p>
		{{/if}}
		{{/if}}
		
		{{#if director }}
		{{#if director_url }}
		<p>Director: <a href="{{ director_url }}" target="_blank">{{ director }}</a></p>
		{{else}}
		<p>Director: {{ director }}</p>
		{{/if}}
		{{/if}}

		{{#if photographer }}
		{{#if photographer_url }}
		<p>Photographer: <a href="{{ photographer_url }}" target="_blank">{{ photographer }}</a></p>
		{{else}}
		<p>Photographer: {{ photographer }}</p>
		{{/if}}
		{{/if}}
		
		{{#if stylist }}
		{{#if stylist_url }}
		<p>Stylist: <a href="{{ stylist_url }}" target="_blank">{{ stylist }}</a></p>
		{{else}}
		<p>Stylist: {{ stylist }}</p>
		{{/if}}
		{{/if}}
		
		{{#if makeup }}
		{{#if makeup_url }}
		<p>Makeup: <a href="{{ makeup_url }}" target="_blank">{{ makeup }}</a></p>
		{{else}}
		<p>Makeup: {{ makeup }}</p>
		{{/if}}
		{{/if}}
		
		{{#if hair }}
		{{#if hair_url }}
		<p>Hair: <a href="{{ hair_url }}" target="_blank">{{ hair }}</a></p>
		{{else}}
		<p>Hair: {{ hair }}</p>
		{{/if}}
		{{/if}}
		
		{{#if talent }}
		{{#if talent_url }}
		<p>Talent: <a href="{{ talent_url }}" target="_blank">{{ talent }}</a></p>
		{{else}}
		<p>Talent: {{ talent }}</p>
		{{/if}}
		{{/if}}
	</div>
</div>
