<div id='navigation' class='{{ status }}'>
	<nav>
		{{#each navigation }}
		<a href="/{{ slug }}" class="{{ id }}">
			<div class="out icon icon-{{ id }}"></div>
			<div class="over icon icon-{{ id }}-over"></div>
		</a>
		{{/each}}
	</nav>
</div>